@font-face {
    font-family: 'Queen';
    src: url('kiss.ttf') format('truetype');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'Varsity';
    src: url('varsity.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url('IRANSansWeb.woff') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('Quicksand.woff2') format('woff2');
}

@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: url('FjallaOne.woff2') format('woff2');
}