@font-face {
    font-family: 'Queen';
    src: url('kiss.ttf') format('truetype');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'Varsity';
    src: url('varsity.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url('IRANSansWeb.woff') format('truetype');
    font-style: normal;
}