input.numeric-text::-webkit-inner-spin-button,
input.numeric-text::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.numeric-text {
    -moz-appearance: textfield;
}

.tables_panel{
    border-style: solid;
    border-width: 2px;
    border-color: #269abc;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fbfbfb;
}

.selbox{
    background-color: aliceblue;
    width: 320px;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
}

.selbox-img{
    height: 70px;
    width: auto;
    border-radius: 6px;
    margin: 3px;
}